.title {
  @include font(700, 36px, 1.17, 0.03em);
  color: var(--title-text-color);
  text-align: center;
}
.feature {
  padding-bottom: 0;
}
.feature-list {
  display: flex;

  &__item {
    width: 270px;
  }
  &__item:not(:last-child) {
    margin-right: 30px;
  }
  &__link {
    @extend %list;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
  }

  &__title {
    @include font(700, 14px, 1.14, 0.03em);
    margin-bottom: 10px;
    color: var(--title-text-color);
    text-transform: uppercase;
    text-align: left;
  }
  &__text {
    @include font(400, 14px, 1.71, 0.03em);
    color: var(--primary-text-color);
  }
}
